[2019-04-02 19:24] asrendon opened #1 "uuid 2.0.0 compatibility?"
Hello, bit of an issue on my end.
As of right now, the plugin will not work because I need to have uuid 1.0.3 but I currently have only uuid 2.0.0. I cannot downgrade to uuid 1.0.3 either due to flutter_cache_manager being dependent on uuid 2.0.0

I dont suppose there is any work currently being done to upgrade to uuid 2.0.0 compatibility?

[2019-04-02 20:21] d3xt3r2909 commented on #1
Give me one day or two I will upgrade it if it is possible. Or at least I can make something that you can provide uuid without library dependency.

[2019-04-03 10:48] d3xt3r2909 commented on #1
Hi @asrendon,

I have updated versions of libraries that my library depending on SHA-c3187b2f2d66b7e826a8d5e9012c26c32869a4c5

Please check is, so that we can close this issue.

Thank you for the opening issue.

Nihad

[2019-04-03 14:37] asrendon commented on #1
Hi Nihad, appreciate the quick responses. I wont be able to test unfortunately as the newer version is not in dartlang site yet, unless there is another way to test?

[2019-04-03 16:47] d3xt3r2909 commented on #1
Hi, hmm noup. But as far as I know it should be already on pub dart lang:

https://pub.dartlang.org/packages/linkedin_login#-installing-tab-

It is version 0.1.1?

[2019-04-04 14:01] asrendon commented on #1
The problem I see was that I'm using cached_network_image: ^0.7.0 which is reliant on the uuid ^2.00
but then when I use uuid ^2.0.0, i get the error that the linkedin plugin requires an older uuid.

If you made a change to the code, I believe you might have to increase the version number as no new linkedin_login plugin will download because its already at the current version. It was already at ve

[2019-04-04 14:17] d3xt3r2909 commented on #1
Wow, my big mistake. I was pretty sure that I have changed that one. You will have it tomorrow for sure. Sorry for time wasting

[2019-04-06 05:09] bayuramadeza opened #2 "this lib can't use if you are using http 0.12.0"
please, make the update asap

[2019-04-06 07:51] d3xt3r2909 commented on #2
Please check it now. Thanks

[2019-04-06 07:52] d3xt3r2909 commented on #1
Hi, I have updated everything. It should work now

[2019-04-10 18:37] #1 closed

[2019-04-10 18:38] #2 closed

[2019-04-15 14:43] asrendon commented on #1
Nihad, its wonderful. The plugin works extremely well. Better than I thought. I'll try and make time to create a video on this so people know about this wonderful plugin, thank you again.

[2019-04-15 14:48] asrendon opened #3 "ProfileID from r_liteprofile?"
Hello, this is not so much of a bug but rather a suggestion. I love the app but I am planning on using profileID that you can obtain with the basic r_liteprofile permission.
The profileID per person is unique to every dev SDK application and we plan on using it to manage a user's login. Would we be able to add this or do you want me to take a crack at the code and submit a pull request?
Now that t

[2019-04-21 06:23] d3xt3r2909 commented on #3
Hi, I would love to work on this feature but I am on vacation on next 2-3 weeks. So if you can and if you know feel free to create pull request.

[2019-05-02 14:43] Raviteja11122 opened #4 "I'm getting this error"
E/flutter (23112): [ERROR:flutter/lib/ui/ui_dart_state.cc(148)] Unhandled Exception: NoSuchMethodError: The method '[]' was called on null.
E/flutter (23112): Receiver: null
E/flutter (23112): Tried calling: []("displayImage")
E/flutter (23112): #0      Object.noSuchMethod (dart:core/runtime/libobject_patch.dart:50:5)
E/flutter (23112): #1      new _LinkedInProfilePicture.fromJson (package:linkedi

[2019-05-02 15:03] d3xt3r2909 commented on #4
I can look up what is problem tomorrow. Currently I am to far of computer. Can you just describe where did you get this problem?

[2019-05-03 00:16] d3xt3r2909 commented on #4
Hello again, I think that I have fix bug on this issue. Basically, there was a bug when user does not have profile picture you will get this message.

Please test this again with new version of package. I will close for now this issue, but if you find again same problem we will open again issue. Also, I would appreciate if you can describe problems in more detail information in future.

Thank you

[2019-05-03 00:16] #4 closed

[2019-05-03 00:26] d3xt3r2909 commented on #3
Hi, me again.

I got some time to implement something that is OK for your case.

So, because LinkedIn has merged some of permissions in V2 and from now on you have only three different permissions:

So, I have just expose to you user id, so from new version of this library you can access it from instance of LinkedInUserModel class (added also in example).

This is response from v2 version of https

[2019-05-03 05:20] Raviteja11122 commented on #4
thanks buddy

[2019-05-21 03:46] tuantvu opened #5 "Return authorization code and state"
Hi, I would like to keep my client secret behind a backend service. To do so, I would need the authorization code and state, and for the widget to not retrieve the access token. Could you provide a widget that returns back the authorization code and doesn't require the client secret? Great work btw!

[2019-05-21 15:37] d3xt3r2909 commented on #5
Hello,

Thanks.

I need also this feature in my project. But I am not sure when I will start work on it. Are you in hurry?

[2019-05-21 15:40] #3 closed

[2019-05-30 10:09] d3xt3r2909 commented on #5
@tuantvu First of all sorry for a waiting period of time.

I have published a new version of the library with a new widget. From now on, we can use a widget that is called LinkedInAuthCodeWidget to fetch just the authorization code.

For more details see example in the project.

Thank you for the opening issue.

Best,
Nihad

[2019-05-30 10:09] #5 closed

[2019-08-08 02:35] hohien opened #6 "How to disable open LinkedIn App after login successful"
After login LinkedIn account successful, my iPhone opens the LinkedIn app
How can I disable it, can you help me?

Thanks

[2019-08-08 07:01] hohien commented on #6
I really need this, please help me sir

[2019-08-11 08:38] d3xt3r2909 commented on #6
Sorry I didn't saw this issue earlier.

I need to test this because to be honest I didn't test library when you have LinkedIn app on iOS (on Android LinkedIn app is not opening).

Second point is the same, didn't tested, but I will today, thanks for opening issue.

[2019-08-11 08:39] d3xt3r2909 commented on #6
Also, if it is not problem for you, can you open two separate issues :)

Thanks

[2019-08-12 02:48] hohien commented on #6
Thanks, I'm waiting for your update

[2019-08-12 07:48] d3xt3r2909 opened #7 "How can I clear Webview cache to log in by different account ?"
Initially started from [hohien](https://github.com/hohien)

[2019-08-12 08:10] #7 closed

[2019-08-12 08:11] d3xt3r2909 commented on #7
In commit b294a274553ea911ad2b05c004449a1845a5f7b9 this has been implemented

[2019-08-12 08:12] d3xt3r2909 commented on #6
@hohien please check this [issue](https://github.com/d3xt3r2909/linkedin_login/issues/7) for your second question

[2019-08-12 13:10] hohien commented on #7
Nice, thanks so much, I'll try

[2019-08-12 22:59] d3xt3r2909 commented on #6
Hi @hohien , I have tried to reproduce this behavior on iOS mobile device that has installed LinkedIn app but it is working fine (without opening external app).

Did you try with example project of this library?

[2019-08-16 03:35] hohien commented on #6
@d3xt3r2909  Oh, I have tried your example project. It works perfectly. Maybe that's my mistake
when I code
Anyway, Thanks so much for helping me

[2019-08-16 03:38] #6 closed

[2019-08-16 04:32] hohien commented on #6
@d3xt3r2909 , I have found my mistake, that's REDIRECT_URL = "https://linkedin.com"
.It shouldn't be that URL, if I change to another URL (change on linkedin developer website)

[2019-08-16 05:59] d3xt3r2909 commented on #6
Hello @hohien, would recommend that you put "Local host" address or something like that to redirect URL.

Also maybe your app is opening because you have somewhere in your code deep links enabled for LinkedIN?

Anyway, I am glad that you have menage to fix this issue.

[2019-08-16 06:35] hohien commented on #6
I have a question
Is it possible if I don't set any REDIRECT_URL on LinkedIn developer website?
Currently, I set it into https://google.com.vn
On IOS device, It works perfectly, but on Android device, after I login successfully, Webview opens google.com.vn  website

[2019-08-16 06:47] d3xt3r2909 commented on #6
1. No, it is not. Linked need this URL to return authorization code. Because of that, you need to have same value in variable "REDIRECT_URL", and on LinkedIn developer website. In, simple way, this is one way of authentification.

2. Yes, I have notice this problem and I have spend time on investigation to this. But currently, I cannot figure out how to disable this because it is behavior of webvi

[2019-08-16 06:52] hohien commented on #6
Thanks. I got it. You are my hero ^^

[2019-10-07 06:41] JERINJACOBCHERIAN opened #8 "Build is failing with the following error"
Running Gradle task 'assembleDebug'...

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:preDebugBuild'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FAILED in 16s
*****************************

[2019-10-07 06:48] d3xt3r2909 commented on #8
As far as I know, I have already switch this library to AndroidX. Did you upgraded your app on AndroidX?

I don't currently have time to go deep in this issue, probably from next week I am OK to work on this, if upgrade of your app not fix this issue.

[2019-10-07 07:09] JERINJACOBCHERIAN commented on #8
When I migated this app to androidX,more errors pops up,I will post that too

[2019-10-07 10:41] JERINJACOBCHERIAN commented on #8
Execution failed for task ':app:preDebugBuild'.

[2019-10-09 09:44] JERINJACOBCHERIAN commented on #8
There is no error with the ios builds.

[2019-10-09 09:47] JERINJACOBCHERIAN opened #9 "Invalid Authorisation Code"
I used LinkedInAuthCodeWidget to get auth code for my app.

But when I use the the auth code to send an invitation,it says invalid code

  _sendLinkedinRequest() async {
    // set up POST request arguments
    try{
    String url = 'https://api.linkedin.com/v2/invitations';
    Map<String, String> headers = {"Content-type": "application/x-www-form-urlencoded","Authorization": "Bearer AQRjRy.....S

[2019-10-09 13:15] d3xt3r2909 commented on #9
Hi,

Did you try example project or?

[2019-10-10 05:15] JERINJACOBCHERIAN commented on #9
yes I tried the example project and used the LinkedInAuthCodeWidget from it

[2019-10-10 05:34] d3xt3r2909 commented on #9
OK,

I will probably fix these on weekend.

Thank you for understanding

[2019-10-20 09:55] d3xt3r2909 commented on #8
Hello,

I still don't have time because of my work, really sorry for delay.

If you know and want every pull request is welcome.

[2019-11-04 03:29] bayuramadeza opened #10 "Can't Open Login Page Linkedin"
Since last week, i can't open login page, Loader just turn around and  I got this warning

![WhatsApp Image 2019-11-04 at 15 27 03](https://user-images.githubusercontent.com/32892647/68107504-a9d2b580-ff17-11e9-8fc4-2d28c7132948.jpeg)

After i read the documentation LinkedIn, i found this
<img width="818" alt="Screen Shot 2019-11-04 at 14 48 51" src="https://user-images.githubusercontent.com/32892

[2019-11-04 12:20] d3xt3r2909 commented on #10
Hi,

I have now run the example project and everything works fine.  Can you please also do the same? (Change clientId, redirectUrl, clientSecret)

If you can please check:
-  did you change clientId and clientSecret & redirectectUrl to connect LinkedIn app with your application. [(Flow explanation)](https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=lin

[2019-11-04 12:42] d3xt3r2909 commented on #9
@JERINJACOBCHERIAN ,

I have tried right now my example project. It works on both way (profile and auth code).

I would assume that you are using "Auth code" for access token.

Please be aware that second tab in example project is just "Authorization code" which is needed if you want to use back-end [flow ](https://github.com/d3xt3r2909/linkedin_login/issues/5) for accessing token, otherwise, for

[2019-11-04 12:42] #9 closed

[2019-11-04 12:44] d3xt3r2909 commented on #9
Also, please do not forget to add permissions for your app https://stackoverflow.com/questions/50275197/linkedin-api-v2-invitations-403

[2019-11-04 12:46] d3xt3r2909 commented on #8
Hello @JERINJACOBCHERIAN

Did you manage to fix this issue on your self, or this is still happening?

I have tried to produce this on my example project of this library, but I don't have anything similar.

[2019-11-06 08:06] JERINJACOBCHERIAN commented on #8
I wasn't able to fix this. I am still a beginner in the field and is unable to fix it

[2019-11-06 10:23] d3xt3r2909 commented on #8
Hello @JERINJACOBCHERIAN

Please if you can start my example project and see is it working with that project.

Currently, from this perspective this issue doesn't seems to me that it is related with my library.

Your issue can be connected with this issue https://github.com/flutter/flutter/issues/27254.

I will close this issue, but if you still think that is related with my library please write i

[2019-11-06 10:23] #8 closed

[2019-11-08 03:00] bayuramadeza commented on #10
Okay, i think the problem is background service from firebase_messaging, If i didn't use .Application it works well.

[2019-11-08 03:00] #10 closed

[2020-01-06 14:58] Raviteja11122 opened #11 "getting 401 error"
@d3xt3r2909
Error description: Failed to get user token Error code: 401

[2020-01-06 16:48] d3xt3r2909 commented on #11
What widget are you using?
Did you try with example in project?

Please provide me more informations

[2020-01-06 17:06] Raviteja11122 commented on #11
This is my code

Navigator.push(
      context,
      MaterialPageRoute(
        builder: (BuildContext context) =>
            LinkedInUserWidget(
              redirectUrl: redirectUrl,//"http://ec2-52-66-131-212.ap-south-1.compute.amazonaws.com:8080/",
              clientId: clientId,//"81gc9r3a18u01j",
              clientSecret: clientSecret,//"mOZfcUeDKjwZbwW3",
              onGetUserProfi

[2020-01-06 17:07] Raviteja11122 commented on #11
@d3xt3r2909
This is my code
`Navigator.push(
      context,
      MaterialPageRoute(
        builder: (BuildContext context) =>
            LinkedInUserWidget(
              redirectUrl: redirectUrl,//"http://ec2-52-66-131-212.ap-south-1.compute.amazonaws.com:8080/",
              clientId: clientId,//"81gc9r3a18u01j",
              clientSecret: clientSecret,//"mOZfcUeDKjwZbwW3",
              on

[2020-01-09 09:11] d3xt3r2909 commented on #11
@Raviteja11122 Can you please check also is it working with my example? I have now tested it and works completely fine.

[2020-01-13 09:12] d3xt3r2909 commented on #11
@Raviteja11122  Hello again.

I have try this with my example from project. But was not able to reproduce this. Can you also try to input your code in my example?

[2020-01-13 09:45] d3xt3r2909 commented on #1
@asrendon did you make this, because I was planing to make it? But if you did, I can put it on documentation?

[2020-01-14 11:59] defint commented on #11
@d3xt3r2909

debug info from this line:
lib/src/linked_in_authorization_webview.dart:124

![Uploading Bitmap.png…]()

[2020-01-20 06:16] Raviteja11122 commented on #11
@d3xt3r2909

your example app uses the same plugin right ??
so why it's not working for me. I'm using flutter 1.12 stable

Note: I didn't test your example project because you said it's working fine

[2020-01-20 20:06] d3xt3r2909 commented on #11
@Raviteja11122  Look, I have tried with your client and secret and redirect URL it works. Also, I have added your code for starting my library it works also. Please look at this [image](https://prnt.sc/qqfocf).

I really don't know how to help you anymore. If you have any new/additional information please let me know. Until then I will close this issue because I cannot reproduce this with the info

[2020-01-20 20:06] #11 closed

[2020-01-20 20:07] d3xt3r2909 commented on #11
@defint please open a new issue with more description when you are getting this?

[2020-01-20 20:53] defint opened #12 "Authorization method always return 401 code"
Hi.
New issue from this discussion: https://github.com/d3xt3r2909/linkedin_login/issues/11

Linkedin be able to return different errors with different codes, like 500. The error transformed here: https://github.com/d3xt3r2909/linkedin_login/blob/master/lib/src/linked_in_authorization_webview.dart#L138
On this step we have correct status code (for example 500). But result of this method uses in met

[2020-01-20 21:35] d3xt3r2909 commented on #12
Ahh, that is it.

Thank you @defint for good explanation. I will fix it tomorrow.

[2020-01-20 21:44] d3xt3r2909 commented on #12
@Raviteja11122 Can you also look is this case in your issue also (#11 )

[2020-01-20 21:47] d3xt3r2909 commented on #11
I will try to fix this issue with @defint explanation. So this can stay closed.

[2020-01-21 03:59] defint commented on #12
@d3xt3r2909
I think I got caught in the middle of maintenance, was getting [500] error in the course of 1-2 hours. And spent couple of time to debug strange response status code.

By the way, thanks for your library, saved a lot of time for me.

[2020-01-21 06:11] Raviteja11122 commented on #12
@d3xt3r2909 I think so.

[2020-01-21 13:10] d3xt3r2909 commented on #12
Hello guys,

A new version [1.1.1](https://pub.dev/packages/linkedin_login) of the package should fix this issue. Please test it if it is possible. I was trying but didn't manage to produce 500 code, so I tested it with hardcoding variables. This is [PR](https://github.com/d3xt3r2909/linkedin_login/pull/13/commits/040c92ad2b0b0fb997cf0cc0073baa1c01d6286f) for it.

@defint  Thanks once more for det

[2020-01-21 13:10] #12 closed

[2020-01-21 13:11] d3xt3r2909 commented on #12
This also resolve this [issue](https://github.com/d3xt3r2909/linkedin_login/issues/11).

[2020-02-25 13:59] gonharry opened #15 "linkedInUser data returns null"
Hi, i'm trying to connect my first flutter app to LinkedIn and after I do all the configurations and reading the examples the widget returns token and email with no problem, but Firstname and Lastname label return null.

The user in this test is my own account and I have firstname and lastname in my LinkedIn Profile.

What could it be?

`
onGetUserProfile: (LinkedInUserModel linkedInUser) {

[2020-02-25 14:20] d3xt3r2909 commented on #15
Hi @gonharry,

I am glad, that you are using my lib, please give me a star on this repo and like  on the [pub](https://pub.dev/packages/linkedin_login).

Can you please check in your app on LinkedIn do you have these permissions like on the image.
![image](https://user-images.githubusercontent.com/17637299/75255167-c99d2a80-57e1-11ea-958f-a4ae0f433525.png)

If this is not causing an issue, can you

[2020-02-25 14:42] gonharry commented on #15
Yes, I have these permissions:

<img width="802" alt="Captura de Pantalla 2020-02-25 a la(s) 11 38 19" src="https://user-images.githubusercontent.com/1956789/75257399-a95e7300-57c3-11ea-8e7e-ae4899ae3f08.png">

Gonna check with your demo, because I just copy paste the widget in the example and change your vars with mine, so maybe something went wrong in the linkedin app configuration.

Thanks in a

[2020-02-25 14:46] d3xt3r2909 commented on #15
Hey @gonharry, thanks for the quick response. Yes, please check it, because I have tested it right now and it works on my side. Maybe is something with LinkedIn app config

[2020-02-25 14:56] gonharry commented on #15
Well, I think is my account now...

With your example app I just put two lines to Log the Firstname and Lastname and with my LinkedIn account returns null again. Gonna check with another account to verify again.

`onGetUserProfile: (LinkedInUserModel linkedInUser) {
                        print('Access token ${linkedInUser.token.accessToken}');
                        print('Firstname ${linkedInU

[2020-02-25 15:17] gonharry commented on #15
Yes, it's my account but now idk how to fix it. Another friend tested your demo and he is getting everything fine.

If it's my account I think i will close and comment and try to figure it out.

Thanks for the help!

2020-02-25 12:13:11.346 21211-21364/com.example.example I/flutter: Firstname Jorge
2020-02-25 12:13:11.346 21211-21364/com.example.example I/flutter: LastName Aguilera
2020-02-25 12:1

[2020-02-25 15:17] #15 closed

[2020-02-25 16:45] d3xt3r2909 commented on #15
If I can help you somehow, please let me know

[2020-04-24 12:37] alican commented on #15
Hey @gonharry
I have the same issue. E-Mail and User id is fine but first name and last name ist just returning null.
Maybe it has do something because of the local settings on linkedin.

[2020-04-24 13:25] gonharry commented on #15
@alican After I updated my account with the same Name and Lastname on LinkedIn, LinkedIn API returns the data ok. I think that maybe it's a LinkedIn issue when your account is not updated since some years. Make those changes and wait an hour or two, then test the plugin and see the changes.

[2020-04-28 02:09] JavierDuarteC opened #17 "Error getting username and lastname in spanish"
I pushed a change to get name and last name from the user's profile depending on the first language selected.

[2020-04-28 07:59] d3xt3r2909 commented on #17
Hi @JavierDuarteC  thank you for reporting and quick https://github.com/d3xt3r2909/linkedin_login/pull/16 . I will just add a more secure option to your PR and we can merge it.

[2020-04-28 10:06] d3xt3r2909 commented on #17
Done. It should be fixed! Thanks again. 🎖️

[2020-04-28 10:06] #17 closed

[2020-04-28 13:37] JavierDuarteC commented on #17
Thanks, I hope you update the pub dev package 🙂

[2020-04-28 14:10] d3xt3r2909 commented on #17
@JavierDuarteC you still have issue or? It should be updated to v1.1.2

[2020-04-28 15:04] JavierDuarteC commented on #17
@d3xt3r2909 I'll test it, Thank you!

[2020-04-28 17:16] JavierDuarteC commented on #17
@d3xt3r2909 v1.1.2 isnt updated. I've tested and json en_US still appears

[2020-04-28 19:18] d3xt3r2909 commented on #17
Increased version again to v1.1.3 maybe I didn't pull the code from master. Please check it now, otherwise, there is something wrong.

[2020-04-28 19:31] JavierDuarteC commented on #17
Grat! Its done!

[2020-04-28 19:51] d3xt3r2909 commented on #17
Super, sorry for delay and thank you for using lib.

[2020-04-28 19:53] JavierDuarteC commented on #17
Its ok, thanks. Keep up your good work!

[2020-05-07 23:18] ricardonior29 opened #23 "Setting the height of the AppBar (WebView)"
WebviewScaffold allows to use PrefferedSize instead of AppBar to change the height

[2020-05-09 08:57] d3xt3r2909 commented on #23
@ricardonior29 Thanks for the contribution.

Please add more details, why should we change to `PrefferedSizeWidget`, and not use `AppBar`. Because I am planning to add a reference to his issue in changelog file.

Thanks

[2020-05-26 18:47] d3xt3r2909 commented on #23
@ricardonior29  any feedback on this?

[2020-05-31 06:16] Avrgebro opened #25 "onGetUserProfile never executes"
Hi, i've been trying to use this library to authenticate with Linkedin, but whenever a user authenticates himself in the webview, the expected behavior would be to close the webview and execute the code inside the onGetUserProfile callback.

However, what is actually happening is that the user gets redirected to the redirectUri page, and the webview never closes, thus never executing the onGetUser

[2020-05-31 08:18] d3xt3r2909 commented on #25
Hi @Avrgebro  and thanks for opening a ticket.

It's very hard for me to reproduce it with this info. I have tried to copy and paste your code into my example and it works. This means that issue can be something with redirection URL, clientId, or clientSecret.

Is it possible for you to provide me a full example of project or we can communicate this somewhere on private if you cannot share your in

[2020-06-02 00:13] Avrgebro commented on #25
Hey @d3xt3r2909 thanks for your answer.
I tested my code with some other linkedin credentials and it worked as expected.

Apparently the page my redirecturl redirected to, had some scripts and logs that prevented the webview to properly return info to the flutter app, that's what was causing the issue. I changed the redirectUrl and it worked flawlessly.

Great library, really simple to use.
Thanks

[2020-06-02 08:34] d3xt3r2909 commented on #25
Great, happy that you fix it.

Thank you for using it, I am giving my best to keep it simple.

Please give me a ⭐ star on the repo ⭐ , and like on [pub.dev](https://pub.dev/packages/linkedin_login) if you didn't already.

Thanks

[2020-06-02 08:34] #25 closed

[2020-06-15 09:38] #23 closed

[2020-06-15 09:38] d3xt3r2909 commented on #23
Please open it again if there is a need

[2020-07-15 17:27] edoardoc opened #28 "callback url for mobiles?"
Hello,

followed instructions, created linkedin app and updated all the values, whenever I try to login on iOS it says:

`flutter: Error description: Scope %26quot%3Br_liteprofile%26quot%3B is not authorized for your application, Error code: 401
`

on Android:

As I understand this should be able to work on mobiles also but maybe I need to set a different type of callback url?
Any help appreciated

[2020-07-15 17:39] d3xt3r2909 commented on #28
Hi, I will check this in one day probably because currently I am on a trip.

Regarding you question, yes it should work on Android and iOS. It is still not supported, unfortunately, web and desktop because dependency which we are using has some issue.

First tip, please check did you setup everything correctly while you have created LinkedIn app on their page?

[2020-07-16 06:48] edoardoc commented on #28
the only thing that I am not sure of is the

`final String redirectUrl = 'https://app.carde.de';
`

which, of course I changed, and set it up both in the code and in the app definition on linkedin.
What I am not sure about is how to set up the server of this URL, usually 3 legged auth's protocols on mobile's need you to instantiate an internal server inside the app with a deep linking protocol (so

[2020-07-16 07:30] d3xt3r2909 commented on #28
There is nothing like to add to the redirect route, I have even use localhost. That's because everything is handled by APIs from Linkedin and there is no need to have 3 legged like on apple login. I have tried now my example and it's working. Can you also try that?

PS: Did you set up correctly scopes for you LinkedIn app, on their site?

[2020-07-16 07:45] edoardoc commented on #28
<img width="766" alt="Screenshot 2020-07-16 at 10 44 26" src="https://user-images.githubusercontent.com/368717/87641886-6a6c9200-c751-11ea-8829-0c84dc154925.png">

I can't edit that on their site :/

[2020-07-16 07:45] vbakale opened #29 "how can we get profile image?"
I am try trying to implement getting profile image with this package it seems to be crashing while fetching image or i may have done something wrong. Can you please update how can we access profile image with this package?

[2020-07-16 07:53] d3xt3r2909 commented on #28
You should have something like this in your **Auth** tab

![image](https://user-images.githubusercontent.com/17637299/87642703-288c1d80-c74a-11ea-9b26-a514a472c2c5.png)

[2020-07-16 07:55] edoardoc commented on #28
yep, I got it now, thank you a lot :)

[2020-07-16 07:55] #28 closed

[2020-07-16 07:57] d3xt3r2909 commented on #28
I am planning soon to post an article about this, step by step. It will be easier for you guys :)

[2020-07-16 08:10] d3xt3r2909 commented on #29
Hi,

The library is only for sign in with Linkedin and nothing else. (But maybe I will consider adding a method for fetching image info also.

For now what you can do is:

1. Make request to https://api.linkedin.com/v2/me?projection=(id,profilePicture(displayImage~:playableStreams))&oauth2_access_token=HERE
2. Change `HERE` with an access token that you will fetch with this library

![image](https

[2020-07-16 08:10] edoardoc commented on #28
What is not really clear is what kind of permission(s) one will get choosing either of the 3 paths on dev.linkedin

Sign in with LinkedIn
Share on LinkedIn
Marketing developer platform

I need to get my list of 1st level connections, basically the people I follow on LinkedIn

[2020-07-16 08:46] d3xt3r2909 commented on #29
Did this helped to you, Mr @vbakale ?

[2020-07-16 13:36] vbakale commented on #29
i just want to display profile picture with first and last name after logged in with likedin.

user = UserObject(
                                firstName: linkedInUser.firstName.localized.label,
                                lastName: linkedInUser.lastName.localized.label,
                                email: linkedInUser
                                    .email.elements[0].handleDeep.emai

[2020-07-16 13:42] d3xt3r2909 commented on #29
It's showing blank because, in the object of profilePicture, LinkedIn is not returning URI address of the image. To be able to get URI of the user image you need to use Access Token +
https://api.linkedin.com/v2/me?projection=(id,profilePicture(displayImage~:playableStreams))&oauth2_access_token=HERE

The response of this GET method will return you a URI, which you can use on the placeholder.

[2020-07-16 13:47] vbakale commented on #29
Okay ill check that. Thank you for help:)

[2020-07-16 13:48] d3xt3r2909 commented on #29
I will try also to make helper function for this or to add to as an option. Will notify you. Thanks for opening an issue.

[2020-07-16 14:01] d3xt3r2909 commented on #29
@vbakale  if you can wait I will publish new release in couple of hours with this, otherwise you can use the approach 🆙

[2020-07-16 16:36] d3xt3r2909 commented on #29
Hi @vbakale,

it's implemented. Please see the README file and check the example project on how to use the `projection` property.

For your case you should provide to `LinkedInUserWidget` under `projection` parameter, those values:

[code]

As a result, inside `onGetUserProfile` callback, you can use something like this:

[code]

All of this is based on this response from LinkedIn (in case you wan

[2020-07-16 16:36] #29 closed

[2020-08-10 12:44] NeosGamer opened #31 "appBar default value ?"
I used this library a few months ago and with the last version, the appBar attribute of the class "LinkedInUserWidget" has non-null check for the appBar. Could it be a better idea to add a default value (for instance: for the ones who used the library and updated it recently) or change the documentation to say it's mandatory ?

[2020-08-10 13:37] d3xt3r2909 commented on #31
Hi @NeosGamer , thanks for using a library and for opening an issue.

The thing is that I really don't love to have `null` values inside some library.

It's not mandatory, (it's not `@required` parameter) but you cannot forward `null value` to a parameter.  Of course, I would change this if something like this is causing an issue for you guys?

Can you please let me know in which situation you hav

[2020-08-13 08:58] d3xt3r2909 commented on #31
@NeosGamer
This should be fixed in new release of the application. So please use `linkedin_login: ^1.2.2`

Really sorry for this one, and for waiting time. Thanks for opening the issue and letting me be aware of it.

And if you didn't already please ⭐ the repo and give me a like on the pub.dev package.

Many thanks.

[2020-08-13 08:58] #31 closed

[2020-08-13 09:03] d3xt3r2909 commented on #28
Hi @edoardoc  sorry for my late response. Please tag me, so that I can get a notification. I am not sure how to it because this library is just for auth, but I know that ppl had a lot of problems retrieving that information. If I remember correctly, you should apply for Marketing, and there is already a lot of feedback that they are not approving this program so easily.

[2020-08-13 09:20] edoardoc commented on #28
:)
I applied yesterday and they rejected the application.
Future of APIs is full of applications and rejections I guess

[2020-10-19 05:24] annshsingh opened #32 "Getting 400 in LinkedInErrorObject on Android."
**Issue** - Getting **400** status code in LinkedInErrorObject whenever I am trying to login on an Android device (both emulator and physical device).
This issue is not observed on the iOS devices.
This was working fine for both a month back.

**Relevant details** -
Flutter version - 1.22
Android version - Tested on Android 8 and 9
iOS version - iOS 14

[2020-10-19 09:53] d3xt3r2909 commented on #32
Hi, thanks for opening an issue, did you test this on an example project inside this library?

[2020-10-19 13:13] annshsingh commented on #32
Hey @d3xt3r2909
Thanks for getting back to me so quickly on this.

- This is what I see on the logs whenever I enter my username and password and click on Sign in inside the webview -

`W/ContentCatcher(21093): Failed to notify a WebView
I/flutter (21093): Error description: Failed to get token, Error code: 400`

- This is happening after I updated my Flutter to 1.22. My assumption here is that th

[2020-10-19 14:25] d3xt3r2909 commented on #32
@annshsingh

It's strange on Pixel phone it works normally, but on Samsung, it doesn't. Currently, I cannot take it so quickly need to work. But probably 2-3 days. Hope that's not too late for you. Of course, you can create PR anytime!

[2020-10-19 16:18] d3xt3r2909 commented on #32
Hi @annshsingh  again,

I've investigated a little bit more and it seems that this bug is related, as you said already with https://pub.dev/packages/flutter_webview_plugin plugin. So, of course, I was thinking to open an issue there, but the thing is that they are planning to merge this community plugin with an official one. Please see the discussion [here](https://github.com/fluttercommunity/flut

[2020-10-19 17:26] d3xt3r2909 commented on #32
Dear @annshsingh,

this is so embarrassing for me haha. My example app didn't work because my WIFI connection on Samsung phone was switched off, but ppl will never stop learning from stupid mistakes.

Ok so, I've tested on this:

- Android 7, 8, 9 (Emulator devices) and 10, 11 (Physically  devices)
- Flutter environment: tested with `Flutter 1.23.0-18.1.pre` and `Flutter 1.20.2`

I wasn't able to

[2020-10-27 16:24] annshsingh commented on #32
@d3xt3r2909 Hey, thanks for going so deep on the issue and coming back with some ideas on what the issue could be.
Really appreciate your time and effort here.
Apologies for a late response, I guess I missed this amongst other notifications.

I think it is best to switch the webview here as the one currently being used is not that active anymore.

Let me know if got time to look at this this past

[2020-10-31 07:49] d3xt3r2909 commented on #32
Hey, I will probably start working on this today and next week.

But still, I think that problem is in your setup. Did you try to run my example?

[2020-11-15 22:59] d3xt3r2909 commented on #32
Sorry for taking me so long. It will be available soon in dev release.

[2020-11-22 09:53] d3xt3r2909 commented on #32
Hi @annshsingh,

I am working on refactoring almost everything inside the lib. (One of the changes is, of course, to switch to the new flutter web view plugin.)

This is totally in the alpha of dev, and I do not recommend to use this in production yet, but if you want to test it, is it working with the new web view, please check this [branch](https://github.com/d3xt3r2909/linkedin_login/tree/intro

[2020-11-24 10:53] annshsingh commented on #32
@d3xt3r2909 Thanks a lot for looking into this issue. I will check the branch and see if the changes have any affect on the issue at hand.

[2020-11-26 12:48] santaanto opened #37 "token not retrieved"
I have tried the example app.
I have set up Linkedin page for my app with the permissions for :

r_emailaddress
r_liteprofile

My redirect url is youtube.com, just for test.
I copied the ClientID and Client Secret and redirect url ( https://youtube.com) and used them on the example app. I haven't changed any other lines of the example app code.
I launch the app on my phone from the Android Studio

[2020-11-27 08:59] d3xt3r2909 commented on #37
Hi @santaanto,

The thing is that `https//youtube.com` has some scripts on the initial loading of the page, which are redirecting you to something totally unexpected (google ads, modals for privacy, CMP, etc).

1. Please check did you add correctly `redirect_url` to your settings of the app on `https://www.linkedin.com/developers/apps/{YOUR_APP_ID}/auth`

Should be something like this:

![image](h

[2020-11-27 09:05] d3xt3r2909 commented on #32
No problem, sorry for taking me so long. If this doesn't help, can you please then setup the example project, reproduce the same behavior, post me a link to that repo.

[2020-11-27 13:25] santaanto commented on #37
ah that's why.
I have now used a pure text webpage as redirect url.
I can now get the access token correctly and I see it on the "auth code" page of the app.
If instead I try logging in from the "Profile" page on the app, I get the page loading forever, it never returns.

[2020-11-27 18:22] d3xt3r2909 commented on #37
Can you give me a redirect URl which you are using now, because I cannot reproduce that?

- did you update URL in settings of app on LinkedIn page?
-it is happening with example app? If yes, can you reinstall application maybe it's cached from last time

[2020-11-27 23:12] d3xt3r2909 commented on #15
Thanks for explaining this. Will include into the documentation, @gonharry .

[2020-11-27 23:16] d3xt3r2909 commented on #37
Same issue as here #25

[2020-11-30 19:49] d3xt3r2909 commented on #37
Any feedback from you @santaanto so that I can close a ticket

[2020-11-30 21:47] santaanto commented on #37
Thank you for your reply.
I am using this redirect page chosen randomly as it was text only :
https://www.york.ac.uk/teaching/cws/wws/webpage1.html

This is the log I get on Android Studio when I try on "profile" form on the app to sign in:

I/ViewRootImpl@afb9f1c[MainActivity]( 5384): ViewPostIme pointer 0
I/ViewRootImpl@afb9f1c[MainActivity]( 5384): ViewPostIme pointer 1
I/WebViewFactory( 5384):

[2020-12-03 04:27] d3xt3r2909 commented on #37
Hi @santaanto,

now the issue is not inside the URL.  As you can see it's throwing you the exception `NoSuchMethodError: The method '[]' was called on null.`  This can be an error somewhere inside `example/lib/main.dart` callback `onGetUserProfile`, most probably you have something disabled on your LinkedIn profile. You should handle those values inside your applications, check for nulls, and show

[2020-12-03 04:35] d3xt3r2909 commented on #32
@annshsingh Technical release is ready for this one, so if you wanna try please do and give me your feedback:

https://pub.dev/packages/linkedin_login/versions/2.0.0-dev.1

[2020-12-16 06:25] UmarBhutta opened #44 "How to Use this for PWA"
Hi,
I am working on PWA where i am looking to get user login via LinkedIn.

Can you Please guide me how can i use it using this Library ?

[2020-12-16 07:29] d3xt3r2909 commented on #44
Hi @UmarBhutta,

Please use the [readme](https://github.com/d3xt3r2909/linkedin_login/blob/master/README.md) file, [example](https://github.com/d3xt3r2909/linkedin_login/tree/master/example) project or for the current technical preview, you can use the medium article [here](https://nihad-delic91.medium.com/flutter-signin-with-linkedin-5a20f3ee11f9).

I'm closing this issue because it's not a real

[2020-12-16 07:38] UmarBhutta commented on #44
Hi,

I am getting below error.

MissingPluginException(No implementation found for method close on channel flutter_webview_plugin)
    at Object.throw_ [as throw] (http://localhost:61627/dart_sdk.js:5287:11)
    at MethodChannel._invokeMethod
    (http://localhost:61627/packages/flutter/src/services/system_channels.dart.lib.js:943:21)
    at _invokeMethod.next (<anonymous>)
    at http://localhost

[2020-12-16 07:49] d3xt3r2909 commented on #32
Hi @annshsingh,

is there any feedback from you? Can I close this issue?

[2020-12-16 07:55] d3xt3r2909 commented on #44
Please provide me more information on how did you get this?

- What command did you run to start an application?
- What steps did you use to get to this?
- output of `flutter doctor --version` please

[2020-12-16 08:18] UmarBhutta commented on #44
1.  flutter run -d chrome
2. Flutter 1.25.0-9.0.pre.42 • channel master • https://github.com/flutter/flutter.git
Framework • revision a76bb1a08e (4 days ago) • 2020-12-12 00:17:51 -0700
Engine • revision 4797b06652
Tools • Dart 2.12.0 (build 2.12.0-141.0.dev)
3. I am working on Flutter Web and example project is for iOS and Android.

[2020-12-16 08:33] d3xt3r2909 commented on #44
Hi @UmarBhutta

As you can see from www.pub.dev, unfortunately, this library is not yet supporting running applications inside your browser.  The reason for this is because the plugin for the web which should be used is not supporting this feature.

Anyhow, running the web view plugin on the web apps doesn't make sense at all, as a user can input into the search bar whatever he wants. So it's expe

[2020-12-16 08:33] d3xt3r2909 commented on #44
I'm closing this, as this is not meant to be a supporting feature at all.

[2020-12-16 08:33] #44 closed

[2020-12-18 17:18] annshsingh commented on #32
@d3xt3r2909 Hey, I have been inactive this past week. I'll look into this over the weekend. Thank you for actively looking into this issue. Appreciate it!

[2020-12-20 11:25] CongBaDo commented on #32
I can not login with Android device too, it redirects to redirect_url

[2020-12-23 06:06] #37 closed

[2020-12-23 07:19] d3xt3r2909 commented on #32
Hi @CongBaDo

Please open another issue as this one is not related with your issue. Before that, please check this [comment](https://github.com/d3xt3r2909/linkedin_login/issues/37#issuecomment-734723854) or it can be same issue as [here](https://github.com/d3xt3r2909/linkedin_login/issues/25).

[2020-12-23 07:20] d3xt3r2909 commented on #32
Great, let me know whenever you can

[2021-01-12 08:05] #32 closed

[2021-01-31 19:43] d3xt3r2909 opened #45 "Nullsafety"
Convert code to nullsafety

[2021-02-20 21:55] #45 closed

[2021-03-11 09:22] tomcajot opened #46 "http 0.13.0 migration"
Package doesn't work with the latest version of http.

[2021-03-11 14:03] d3xt3r2909 commented on #46
Hi @tomcajot,

I'm planning to publish a null safety version over the weekend, where this library should work with Flutter 2.0. This will of course fix the issue which u have.

Hope that's not to late.

[2021-03-11 14:04] tomcajot commented on #46
Thanks, that's great!

[2021-03-21 19:04] d3xt3r2909 commented on #46
Sorry, for taking so long, had a busy week.  Will be ready in day or two

[2021-03-24 01:13] d3xt3r2909 commented on #46
Hey guys,

once again, sorry for waiting a little bit longer.

Here is a new version of the plugin:

https://pub.dev/packages/linkedin_login/versions/2.0.0-dev.4

Supports:

- HTTP 0.13.0
- test coverage
- sound null safety
- logs

There are two breaking changes because:

- New error log messaging
- And types for the profile are changed but it's no big deal to replace them

To install, please use

[2021-03-24 10:04] tomcajot commented on #46
Thanks, will report issues if I find some.

[2021-03-28 20:53] d3xt3r2909 commented on #46
As it seems that there is no problems, I will close ticket. But please be free to open it again if doesn't work

[2021-03-28 20:53] #46 closed

[2021-05-24 14:15] kekko7072 opened #52 "Linkedin Login + Firebase auth"
Is there a way to easily integrate this package with firebase auth? I'd like to access using this package, then generate a token for accessing in firebase as normal access (ex. email/password or google_sign_in). Is  it possible ?

[2021-06-03 15:47] d3xt3r2909 commented on #52
Hi @kekko7072  and sorry for the late response.

There was already a similar question to this one, but I cannot remember where to link you to it. I didn't investigate this possibility but anyhow Firebase is supporting only a few providers out of the box, and for linked in they are expecting to use custom tokens https://stackoverflow.com/a/40041273/6074443.

I'm closing this as it's not an issue, a

[2021-06-03 15:47] #52 closed

[2021-06-12 17:51] devsig opened #53 "[BUG]"
Because linkedin_login >=1.0.0 <2.0.0-dev.4 depends on http ^0.12.0+4 and connect depends on http ^0.13.3, linkedin_login >=1.0.0 <2.0.0-dev.4 is forbidden.
So, because connect depends on linkedin_login ^1.3.1, version solving failed.
pub get failed (1; So, because connect depends on linkedin_login ^1.3.1, version solving failed.)

[2021-06-12 17:51] devsig opened #54 "[BUG]"
Because linkedin_login >=1.0.0 <2.0.0-dev.4 depends on http ^0.12.0+4 and connect depends on http ^0.13.3, linkedin_login >=1.0.0 <2.0.0-dev.4 is forbidden.
So, because connect depends on linkedin_login ^1.3.1, version solving failed.
pub get failed (1; So, because connect depends on linkedin_login ^1.3.1, version solving failed.)

[2021-06-12 17:51] devsig opened #55 "Update http dependency"
Because linkedin_login >=1.0.0 <2.0.0-dev.4 depends on http ^0.12.0+4 and connect depends on http ^0.13.3, linkedin_login >=1.0.0 <2.0.0-dev.4 is forbidden.
So, because connect depends on linkedin_login ^1.3.1, version solving failed.
pub get failed (1; So, because connect depends on linkedin_login ^1.3.1, version solving failed.)

[2021-06-12 19:19] d3xt3r2909 commented on #53
There is no need for 3 same bugs :)

[2021-06-12 19:19] #53 closed

[2021-06-12 19:19] #54 closed

[2021-06-12 19:20] d3xt3r2909 commented on #55
Please try using `2.0.0-dev.4` version of this library. It should resolved the issue. Let me know if doesn't.

[2021-06-18 18:26] kekko7072 opened #56 "Not showing login page"
I use` 2.0.0-dev` and I have LinkedIn App correctly configured but it doesn't work the login page, it shows only:
[code]
This is the code
[code]

[2021-06-18 20:07] d3xt3r2909 commented on #56
Hi, please give me some time over the weekend. I'm not at home right now.

[2021-06-19 08:12] kekko7072 commented on #56
To check if the LinkedIn App credentials were configured correctly, I tried using the example app with the credentials and it works on version `1.3.1,` so I think is linked to the version `2.0.0-dev.`

[2021-06-19 08:16] kekko7072 commented on #56
Thank you so much, I am also doing some experiments to implement this package with firebase auth.

[2021-06-19 08:33] kekko7072 commented on #52
Hey I tried and tested some code but nothing worked. Now I am trying to access using this package and `firebase_auth`, this is the my idea:

1) Use this package to sign in and obtain the linkedin token and profile info.
2)Create a firebase credential using the token (not sure about this)
[code]
3)Sign in with credential ` FirebaseAuth.instance.signInWithCredential(credential);`

Do you think It co

[2021-06-19 08:33] kekko7072 commented on #52
I think this could be a key feature to make this plugin perfect.

[2021-06-25 07:30] d3xt3r2909 commented on #56
I Will take a look as soon as possible, but currently, my main project is getting released so don't have so much time for the inspecting

[2021-06-27 10:14] kekko7072 commented on #56
Don't worry I created a custom login system to login with linkedin and firebase, so I don't need this package anymore.

[2021-06-27 10:14] #56 closed

[2021-06-27 10:14] kekko7072 commented on #56
Thank you for the help and the passion!

[2021-06-27 18:58] d3xt3r2909 commented on #56
Hello, when I injected your code to my example project it is also showing (but in console - as expected bcs you put it into print and you are not refreshing UI).

It would be very good if you could share your solution in short steps how did you use linkedin sign in with firebase, as firebase is not supporting linkedin out of the box

[2021-06-27 19:37] d3xt3r2909 commented on #55
Please use the new version `2.0.1`. I will close this, as the dependencies versions has been upgraded. Thanks for reporting

[2021-06-27 19:37] #55 closed

[2021-07-13 03:35] dungnc opened #60 "How to I get vanityName?"
You're using '&scope=r_liteprofile%20r_emailaddress' but we can not get vanityName from r_liteprofile.

[2021-08-02 04:32] #60 closed

[2021-08-13 09:45] avicoder opened #61 "[BUG] Why do we need to store client secret as oppose to good security practice?"
**Describe the bug**

In the security guidelines mentioned https://docs.microsoft.com/en-us/linkedin/shared/authentication/client-credentials-flow?context=linkedin/context it has been clearly stated to not share the client secret but his flutter SDK requires it, doesn't it impacts the security?

[2021-08-23 21:16] d3xt3r2909 commented on #61
Hi,

first of all, thank you for pointing this out and sorry for the late reply on this.

Secondly its more topic for the discussions than for the issue.

Thirdly I believe that this is more topic for LinkedIn guys, as I didn't create (unfortunately) this platform, neither documentation for it because as you can see they are a little bit contradicting ..

![image](https://user-images.githubusercon

[2021-08-23 21:16] #61 closed

[2021-10-11 20:36] Guix98 opened #63 "There ia not a way to change the scopes for login"
As many of the users (I think) I needed to use the w_member_social scope for my app.. and the only way to use it with this package is to change the main code and copy the whole code to my app lib to reference from there..

[2021-10-12 05:59] d3xt3r2909 commented on #63
Hello,

- First of all thanks for opening the issue.

- Second, this is the first time that I am reading about a feature request like yours, so of course, in order that some features to be implemented firstly it needs to have an issue opened

- There is no need to copy-paste whole code to you library you can fork it and reference it event better 👇

- If you already forked the repo and update the c

[2021-11-18 19:24] timozuther commented on #63
Same here, would also like to ask for the feature of changing the scope of the authentication.

[2021-11-18 19:37] d3xt3r2909 commented on #63
Basically same answer. I don't have permission from LinkedIn to use other scope and it is really difficult to get these, if you have them already it would be nice of you to submit PR.

[2021-12-08 05:56] shreya-prajapati opened #64 "[BUG] Keyboard not working"
I have flutter applications using Login with LinkedIn where the webview stopped working. Looks like webview_flutter fails to show the (soft) keyboard on Android 12 (API 31), no matter of what kind of input field is clicked. The error can be easily reproduced with the Android emulator when switching between Android 11 and 12.

[2021-12-08 08:42] d3xt3r2909 commented on #64
Hello, I'm currently on vacation so will not be able to fix that before next week. There are some breaking changes in many plugins regarding A12. I would start with upgrading webview if someone wants to take PR before me.

[2021-12-08 08:42] d3xt3r2909 commented on #64
Thanks for opening bug

[2021-12-15 19:36] d3xt3r2909 commented on #64
Hello, I'm back and will start looking at this as soon as possible. Thanks once again for creating & waiting.

[2021-12-20 14:29] d3xt3r2909 commented on #64
Hey, a "little" update from my side. This issue should be resolved in new version of the app by https://github.com/d3xt3r2909/linkedin_login/pull/66  PR. Please check it and close an issue if it is fixed.

[2021-12-21 04:18] shreya-prajapati commented on #64
@d3xt3r2909 Thanks for looking into it asap.

I have tested with Pixel 4a (android 12), its working fine.

[2021-12-21 04:18] #64 closed

[2021-12-26 15:28] d3xt3r2909 commented on #64
Super that I helped! All the best, please star the repo and give a like on pub.dev if you didn't. It means a lot.

Thanks once again for opening the bug and have a nice week.

[2022-01-03 22:48] memishood opened #67 "linkedin_login is incompatible with flutter_html latest version"
As you can see the title, I get below error when using these libraries
Error:
[code]

[2022-01-03 23:23] d3xt3r2909 commented on #67
Hi and thanks for opening an issue.

First of all, this is not a bug at all, as you can see the latest version of this package is using the latest version of the `webview_flutter` plugin, so I would advise you to open the same ticket on mentioned packages/plugins as they didn't upgrade version of `webview_flutter`.

You could also maybe use versions of this library lower than the latest, but be aw

[2022-01-03 23:23] #67 closed

[2022-03-14 08:01] gbbest15 opened #68 "Opening the Installed LinkedIn app instead of WebView"
i am trying to use the plugin in my project, but i was surprise after i click on the sign in  with Linkedin, it keep showing in webview instead of opening the installed Linkedin app to confirm the authentication.

[2022-03-14 11:37] d3xt3r2909 commented on #68
Hi, did you try with example project? Is it happening the same for you?

[2022-03-14 11:43] gbbest15 commented on #68
@d3xt3r2909 yes i try the example project.

what i was expecting is that

immediately you click on the sign in with Linkedin and you have Linkedin app Installed on your phone, the webview is not suppose to show instead it should open up the Linkedin app, just like Login in with facebook and the rest..

[2022-03-14 11:55] d3xt3r2909 commented on #68
Ah ok, I see @gbbest15,

Unfortunately, that will not work as you imagined as LinkedIn is not implemented like Facebook. In fact, even google is not implemented like Facebook. Basically depends from provider to provider.  This is how LinkedIn imagined their authentication flow https://docs.microsoft.com/en-us/linkedin/shared/authentication/authentication

I'm closing this as this is something that

[2022-03-14 11:55] #68 closed

[2022-05-11 23:33] EpsilonOrionis opened #75 "Login invalid_redirect_uri error 400"
Hi, awesome pub, but I get this error when i try to Sign in the profile:

LinkedInLogin: Unable to fetch access token code HttpResponseException: Code 400 for https://www.linkedin.com/oauth/v2/accessToken with {"error":"invalid_redirect_uri","error_description":"Unable to retrieve access token: appid/redirect uri/code verifier does not match authorization code. Or authorization code expired. Or ex

[2022-09-27 22:13] pvc00357-git opened #76 "Example has 43 problems; can you please fix it?"
Hi,

I tried to copy your example, but the IDE identifies 43 problems.

Can you please fix it?

Thanks.

[2022-10-24 13:37] Scalesse82 opened #77 "Login invalid_redirect_uri error 400 [BUG]"
LinkedInLogin: Unable to fetch access token code HttpResponseException: Code 400 for https://www.linkedin.com/oauth/v2/accessToken with {"error":"invalid_request","error_description":"Unable to retrieve access token: appid/redirect uri/code verifier does not match authorization code. Or authorization code expired. Or external member binding exists"}